/* src/components/Home.css */
.home {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  header, main, footer {
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
  }
  
  h1 {
    margin: 0;
  }
  
  .main-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .login-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-link {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .login-link:hover {
    background-color: #555;
  }
  
  .card {
    background-color: #4a4a4a; /* Cor de fundo escura */
    color: #fff; /* Texto branco */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1); /* Sombra leve */
  }
  
  .card .button {
    border-radius: 5px;
    color: #fff;
  }
  
  .card .button:hover {
    background-color: #6b3434; /* Cor mais escura para o hover do botão */
  }

  .button.is-success {
    background-color: #7dcd99; /* Verde personalizado, se necessário */
  }
  
  /* Se você precisar de um estilo mais específico para os botões arredondados */
  .button.is-rounded {
    border-radius: 5px; /* Valor alto para torná-lo completamente circular */
  }