body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-header {
  padding: 5px 10px; /* Exemplo de valores de padding menores */
}

.trash-button {
  background: none;
  border: none;
  cursor: pointer;
}

.trash-button:hover {
  background: none;
}

.trash-button .fa-trash {
  color: #555;
  opacity: 0.4;
}

.trash-button:hover .fa-trash {
  color: #ff3860; 
  opacity: 1;
}
